<div class="row text-right count">
	Unread count : {{dashboardCtrl.articlesCount}}
</div>
<div class="alert msg {{dashboardCtrl.alertClass}}">
	<strong>
		{{dashboardCtrl.alertMsg}}
	</strong>
</div>

<div class="row">
	<form class="add-article form-horizontal" name="urlForm" ng-submit="dashboardCtrl.addUrl()">
		<div class="form-group">
			<div class="col-sm-10">
				<input autofocus class="form-control" id="articleId" name="url" type="text"
					   ng-model="dashboardCtrl.newUrl"
					   required placeholder="Enter a valid URL">
			</div>
			<div class="col-sm-2">
				<button ladda="dashboardCtrl.loading" data-spinner-color="#000000" data-style="expand-right"
						type="submit" class="btn-primary form-control btn btn-default">Add
				</button>
			</div>
		</div>
	</form>
</div>
<div class="col-sm-12">
	<div class="text-right row collar-btn-containter">
		<button class="btn btn-default" ng-click="dashboardCtrl.previousArticle()">previous</button>
		<button class="btn btn-default" ng-click="dashboardCtrl.fetchNextArticle()">next</button>
	</div>
	<ul class="list-group">
		<li id="{{item._id}}" class="article list-group-item col-sm-12"
			ng-repeat="item in dashboardCtrl.articles track by $index" >
			<h3 class="article-text-format col-sm-12">{{item.title}}</h3>
			<a class="article-text-format col-sm-12" target="_blank" href="{{item.url}}">{{item.url}}</a>
					<span class="col-sm-12" ng-repeat="tag in item.tags">
						<span ng-if="tag">#</span>
					{{tag}}
				</span>
			<div class="text-right">
				<button class="btn default btn-sm" ng-click="dashboardCtrl.favourite($index)">
					<span class="glyphicon glyphicon-heart {{item.is_fav===true?'favourited':''}}"
						  aria-hidden="true"></span>
				</button>
				<button class="btn default btn-sm" ng-click="dashboardCtrl.archive(item._id)">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
				<button class="btn btn-danger btn-sm" ng-click="dashboardCtrl.deleteArticle(item._id)">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
			</div>
		</li>
	</ul>
</div>