<div class="row">
	<div class="col-md-12  app-container">
		<form name="loginForm" class="main form-horizontal" ng-submit="authCtrl.login(loginForm.$valid)">
			<div class="alert {{authCtrl.alertClass}}">{{authCtrl.alertMsg}}</div>
			<div class="form-group">
				<div class="col-xs-12">
					<input class="form-control" type="email" placeholder="john@example.org" id="email"
						   ng-model="authCtrl.user.email" name="email"
						   autofocus required/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
					<input class="form-control" placeholder="6+ characters password" ng-model="authCtrl.user.password"
						   name="password" type="password"
						   required id="password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
					<button type="submit"
							ladda="authCtrl.loading" data-spinner-color="#000000" data-style="expand-right"
							class="btn btn-primary">Login
					</button>
					<button style="display: none" ng-click="authCtrl.register(loginForm.$valid)"
							class="btn btn-default">Register
					</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			</div>
		</form>
	</div>
</div>