<li id="{{cardCtrl.id}}" class="full-height article list-group-item col-sm-12">
	<div class="card-title article-text">
		<span>
			<strong>{{cardCtrl.title}}</strong>
		</span>
	</div>
	<div class="card-body">
		<p class="article-text">
			{{cardCtrl.description}}
		</p>
		<span ng-repeat="tag in item.tags">
			<span ng-if="tag">#</span>{{cardCtrl.tag}}
		</span>
	</div>
	<div class="card-footer text-right">
		<button class="btn default btn-sm">
			<a target="_blank" href="{{cardCtrl.url}}">
				<span class="glyphicon glyphicon glyphicon-link" aria-hidden="true"></span>
			</a>
		</button>
		<button class="btn default btn-sm" ng-click="cardCtrl.archive()">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</button>
		<button class="btn default btn-sm" ng-click="cardCtrl.favourite($index)">
			<span class="glyphicon glyphicon-heart {{cardCtrl.favourited}}"
				  aria-hidden="true"></span>
		</button>
		<button class="btn btn-danger btn-sm" ng-click="cardCtrl.deleteArticle()">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
	</div>
</li>
