<div class="row full-height">
	<div class="col-sm-12">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">MyReader</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
					 style="padding-right:2em">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle"
							   data-toggle="dropdown"
							   role="button"
							   aria-haspopup="true"
							   aria-expanded="false">
								<img class="gravatar-img" id="x" src="{{homeCtrl.profile_url}}" alt="">
								<label for="x">
									{{homeCtrl.username}}</label>
					<span class="caret">
					</span>
							</a>
							<ul class="dropdown-menu">
								<li><a ui-sref="home.profile">Profile</a></li>
								<li><a ng-click="homeCtrl.logout()">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="col-sm-12 full-height">
		<div class="col-sm-3 left-panel full-height">
			<ul class="nav nav-sidebar">
				<li>
					<a ui-sref="home.dashboard">
						Dashboard
					</a>
				</li>
				<li>
					<a ui-sref="home.settings">Settings</a>
				</li>
			</ul>

		</div>
		<div ui-view class="col-sm-9 right-panel">
		</div>
	</div>
</div>







