<section layout="row" flex="" layout-fill>
	<md-sidenav flex class="md-sidenav-left md-whiteframe-z1" md-component-id="left"
				md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar class="md-theme-indigo">
			<h1 class="md-toolbar-tools">MY READER</h1>
		</md-toolbar>
		<md-content>
			<md-button ng-click="close()" class="md-primary" hide-gt-md="">
				Close Left side bard
			</md-button>
			<md-menu-content>
				<md-menu-item>
					<md-button ui-sref-active="active" ui-sref="home">MY LISTS</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-content>
	</md-sidenav>
	<md-content flex layout-padding="" style="padding:0">
		<div layout="column" layout-fill style="padding:0">
			<md-toolbar>
				<div class="md-toolbar-tools">
                    <span flex>
                    </span>
					<md-button ng-click="homeCtrl.logout()">
						Logout
					</md-button>
				</div>
			</md-toolbar>
			<md-content>
				<div layout="column" layout-fill style="padding:0">
					<form name="urlForm" ng-submit="homeCtrl.addUrl(urlForm.$valid)">
						<md-input-container style="width:70%" auto-focus>
							<label>Add An Article</label>
							<input name="url" type="text" ng-model="homeCtrl.newUrl" required>
							<div ng-messages="urlForm.url.$error">
								<div ng-message="required">This is required!</div>
							</div>
						</md-input-container>
					</form>
				</div>
			</md-content>
		</div>
		<div layout="column" layout-fill="">
			<div>
				<md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
					Toggle left
				</md-button>
				<div class="text-right">
					<button class="btn btn-default" ng-click="homeCtrl.fetchArticle()">next</button>
				</div>
				<md-list>
					<md-list-item class="md-2-line article" ng-repeat="item in homeCtrl.articles">
						<div class="md-list-item-text">
							<h3>{{item.title}}</h3>
							<a class="row" target="_blank" href="{{item.url}}">{{item.url}}</a>
							<div>
							<span class="row" ng-repeat="tag in item.tags">
								#{{tag}}
							</span>
							</div>
							<div class="text-right">
								<button class="btn btn-danger btn-sm" ng-click="homeCtrl.deleteArticle(item._id)">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									Delete
								</button>
							</div>
						</div>
					</md-list-item>
				</md-list>
			</div>
		</div>
	</md-content>
</section>
