<div class="form-group row header-wrapper">
	<div class="col-md-11">
		<label class="control-label">MY READER</label>
	</div>
	<div class="text-right col-md-1">
		<span class="glyphicon glyphicon-off btn btn-danger" ng-click="homeCtrl.logout()">
		</span>
	</div>
</div>


<div class="col-md-12">
	<div class="col-md-3 left-panel">
		//left
	</div>
	<div class="col-md-9 right-panel">
		//right ng-if="homeCtrl.alertMsg"
		<div class="alert msg {{homeCtrl.alertClass}}">
			<strong>
				{{homeCtrl.alertMsg}}
			</strong>
		</div>

		<div class="row">
			<form class="add-article form-horizontal" name="urlForm" ng-submit="homeCtrl.addUrl()">
				<div class="form-group">
					<div class="col-md-10">
						<input autofocus class="form-control" id="articleId" name="url" type="text"
							   ng-model="homeCtrl.newUrl"
							   required placeholder="Add An Article">
					</div>
					<div class="col-md-2">
						<button ladda="homeCtrl.loading" data-spinner-color="#000000" data-style="expand-right"
								type="submit" class="btn-primary form-control btn btn-default">Add
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="text-right row collar-btn-containter">
			<button class="btn btn-default" ng-click="homeCtrl.fetchArticle()">next</button>
		</div>
		<div class="col-md-12">
			<ul class="list-group">
				<li id="{{item._id}}" class="article list-group-item col-md-12" ng-repeat="item in homeCtrl.articles">
					<h3 class="col-md-12">{{item.title}}</h3>
					<a class="col-md-12" target="_blank" href="{{item.url}}">{{item.url}}</a>
				<span class="col-md-12" ng-repeat="tag in item.tags">
					#{{tag}}
				</span>
					<div class="text-right">
						<button class="btn btn-danger btn-sm" ng-click="homeCtrl.deleteArticle(item._id)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							Delete
						</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>






