<section layout="row" flex="" layout-fill>
    <md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Side bar</h1>
        </md-toolbar>
        <md-content layout-padding="">
            <md-button ng-click="close()" class="md-primary" hide-gt-md="">
                Close Left side bard
            </md-button>
            listing will come here
        </md-content>
    </md-sidenav>
    <md-content flex layout-padding="">
        <div layout="column" layout-fill="">
            <div>
                <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
                    Toggle left
                </md-button>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="item in todos">
                        <md-checkbox ng-model="item.done"></md-checkbox>
                        <div class="md-list-item-text">
                            <h3>{{item.title}}</h3>
                            <p>{{item.description}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-content>
</section>
