html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #E7E7E7;
}

.header-wrapper {
	margin: 10px;
	padding: 15px;
}

.favourited {
	color: red
}

.left-panel {
	height: 70% !important;
	position: fixed;
}

.right-panel {
	padding: 2%;
	float: right;
}

.collar-btn-containter {
	margin-right: 5px;
}

.add-article {
	margin: 10px;
}

.alert.msg {
	opacity: 0;
}

.alert.msg.show.alert-success {
	opacity: 1;
}

.alert.msg.show.alert-danger {
	opacity: 1;
}

.count {
	margin-top: 5px;
	margin-right: 5px;
}

.main {
	margin: auto;
}

.app-container {
	min-height: 100vh;
	display: flex;
	margin: 0;
}

.gravatar-img {
	border-radius: 50%;
	height: 50px;
}

.twitter {
	display: none;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.article {
	margin: 5px;
	height: 200px !important;
	padding-bottom: 3%;
}

.article-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a.article-title > strong {
	word-wrap: break-word !important;
}

.card.btn {
	margin: 4px;
}

.card-title {
	height: 10%;
}

.card-body {
	height: 80%;
}

.card-footer {
	height: 10%;
}

.card-footer button {
}

.side-menu > li {
	cursor: pointer;
}

.action-bar > span {
	cursor: pointer;
}

.form-group label.required:after {
	content: "*";
	color: red;
}

.add:focus {
	outline: none;
}

h4 {
	text-transform: capitalize;
}

.action-bar {
	display: none;
}

.article:hover .action-bar {
	display: block;
}

.action-bar span {
	padding-left: 8px;
}